In [37]:
import pandas as pd
import numpy as np

In [38]:
lhp_amount_rule = pd.read_csv('/Users/ryanzheng/PycharmProjects/data_to_treemodel_v1/to_model_data/lhp_amount_rule.csv')
print(lhp_amount_rule.shape)
lhp_amount_rule.head(2)

(5218, 1113)

,apply_no,apply_time,target,td_credit_score,td_black_num,td_gray_num,td_black_score,td_gray_score,td_final_score,td_idcard_format,...,tzre_rf_m1_ave_apply_request_amount_level,tzre_rf_m1_ave_overdue_amount_level,tzre_rf_m1_ave_overdue_repay_amount_level,tzre_rf_m1_ave_overdue_repay_delay_level,applthst_loan_rate,applthst_loan_amount,applthst_periods_type,applthst_periods,applthst_repay_type,applthst_use_for
0,key1,2019/4/29 11:42,0,NaN,0.0,2.0,0.0,10.0,56.0,0.0,...,NaN,NaN,NaN,NaN,3600,400000,3,9,5,个人消费
1,key2,2019/3/18 16:39,0,NaN,0.0,2.0,0.0,10.0,75.0,0.0,...,NaN,NaN,NaN,NaN,3600,800000,3,9,5,个人消费

In [39]:
lhp_amount_rule['target'].value_counts()

0    4623
1     595
Name: target, dtype: int64

In [40]:
import random
lhp_amount_rule['target'] = lhp_amount_rule['target'].map(lambda x: random.randint(1,200) if x == 1 else random.randint(201,999))

In [41]:
lhp_amount_rule.head(2)

,apply_no,apply_time,target,td_credit_score,td_black_num,td_gray_num,td_black_score,td_gray_score,td_final_score,td_idcard_format,...,tzre_rf_m1_ave_apply_request_amount_level,tzre_rf_m1_ave_overdue_amount_level,tzre_rf_m1_ave_overdue_repay_amount_level,tzre_rf_m1_ave_overdue_repay_delay_level,applthst_loan_rate,applthst_loan_amount,applthst_periods_type,applthst_periods,applthst_repay_type,applthst_use_for
0,key1,2019/4/29 11:42,214,NaN,0.0,2.0,0.0,10.0,56.0,0.0,...,NaN,NaN,NaN,NaN,3600,400000,3,9,5,个人消费
1,key2,2019/3/18 16:39,329,NaN,0.0,2.0,0.0,10.0,75.0,0.0,...,NaN,NaN,NaN,NaN,3600,800000,3,9,5,个人消费

In [ ]:
lhp_amount_rule.rename(columns={'target':'score'}, inplace=True)

In [35]:
lhp_amount_rule.to_csv('/Users/ryanzheng/PycharmProjects/data_to_treemodel_v1/to_model_data/lhp_amount_rule_jm.csv', index=False)

In [36]:
lhp_amount_rule_jm = pd.read_csv('/Users/ryanzheng/PycharmProjects/data_to_treemodel_v1/to_model_data/lhp_amount_rule_jm.csv')
print(lhp_amount_rule_jm.shape)
lhp_amount_rule_jm.head(2)

(5218, 1113)

,apply_no,apply_time,target,td_credit_score,td_black_num,td_gray_num,td_black_score,td_gray_score,td_final_score,td_idcard_format,...,tzre_rf_m1_ave_apply_request_amount_level,tzre_rf_m1_ave_overdue_amount_level,tzre_rf_m1_ave_overdue_repay_amount_level,tzre_rf_m1_ave_overdue_repay_delay_level,applthst_loan_rate,applthst_loan_amount,applthst_periods_type,applthst_periods,applthst_repay_type,applthst_use_for
0,key1,2019/4/29 11:42,930,NaN,0.0,2.0,0.0,10.0,56.0,0.0,...,NaN,NaN,NaN,NaN,3600,400000,3,9,5,个人消费
1,key2,2019/3/18 16:39,712,NaN,0.0,2.0,0.0,10.0,75.0,0.0,...,NaN,NaN,NaN,NaN,3600,800000,3,9,5,个人消费

In [19]:
lhp_amount_rule['target'] = np.where(lhp_amount_rule['target']<=200,1,0)
lhp_amount_rule['target'].value_counts()

0    4623
1     595
Name: target, dtype: int64